.board-item {
  width:100%;
  background-color: $white;
  padding: 12px 10px;
  border-bottom: 2px solid $border;

  &:first-child {
    border-top: 2px solid $border-hover;
  }

  &:last-child {
    border-bottom: 2px solid $border-hover;
  }

  &-container{
    @include flexbox(between, center);
    transition: color 100ms ease-in-out;
    
    &.board-top {
      font-weight: bold;

      h4 {
        font-weight: bold;
      }
    }
    
    .board-item-number {
      display: block;
      flex-basis: 15%;
      text-align: center;
      margin-right: 10px;
    }

    .board-item-title {
      display: block;
      padding-right: 10px;
      flex-basis: 60%;
      flex: 1;
      font-weight: 400;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .board-item-userId {
      display: block;
      padding-right: 5px;
      flex-basis: 25%;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:not(.board-top):hover {
      color: $border-hover;
    }
  }

  @include responsive(T) {
    padding: 16px 10px;

    .board-top {
      .board-item-createdAt {
        text-align: center;
      }
    }

    .board-item-title {
      flex-basis: 50%;
    }

    .board-item-userId {
      flex-basis: 20%;
    }

    .board-item-createdAt {
      flex-basis: 15%;
      text-align: right;
    }
  }

  @include responsive(D) {
    font-size: 20px;
    padding: 18px 10px;
  }
}

