.carousel-slider{
  $border-size: 1px;
  $container-padding-top-size: 40px;
  $mobile-size: 440px;
  $tablit-size: 530px;

  padding-top: $container-padding-top-size;
  height:  $mobile-size;
  
  &-list {
    position: relative;

    height: 100%;
    border: $border-size solid $border;
  }

  .tns-nav {
    position: absolute;
    bottom: -25px;
    right: -5px;

    .tns-nav-active{
      background-color: $border-hover;
    }

    button{
      width: 10px;
      height: 10px;
      margin-right: 5px;
      border-radius: 50%;
      background-color: $border;
      transition: background-color 100ms ease-in-out;

      &:hover{
        background-color: $border-hover;
      }
    }
  }

  @include responsive(T) {
    height: $tablit-size;
    margin-bottom: 50px;

    .tns-nav {
      bottom: 5px;
      right: 10px;
      z-index: 100;
    }
  }
}
