.carousel-slider{
  position: relative;
  height: 470px;
  
  &-list {
    height: 100%;
    border: 1px solid $border;
  }

  &-item {
    @include flexbox;
    width:100%;

    img {
      width: 100%;
      height: 380px;
      object-fit: cover;
      margin-bottom: 6px;
    }

    .item-text{
      margin-bottom: 10px;

      strong {
        display: inline-block;
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 6px;
      }
  
      p {
        font-size: 14px;
      }
    }
  }

  .tns-nav{
    position: absolute;
    bottom: 0;
    right: 15px;

    .tns-nav-active{
      background-color: $border-hover;
    }

    button{
      width: 10px;
      height: 10px;
      margin-right: 5px;
      border-radius: 50%;
      background-color: $border;
      transition: background-color 100ms ease-in-out;

      &:hover{
        background-color: $border-hover;
      }
    }
  }
}
