$white: white;
$black: black;
$border: rgb(187, 184, 184);
$border-hover: #fd9840;
$background: rgb(238, 234, 234);
$footer-font-color: #eaeaea;
$footer-background: #222222;
$footer-button-border: rgba(94, 92, 92, 0.3);
$footer-button-color: rgb(52, 52, 52);
