.product-page {
  $sm-image-size: 340px;
  $md-image-size: 680px;

  $sm-padding-top: 30px;
  $lg-padding-top: 60px;

  padding: $sm-padding-top 0;

  background-color: $white;

  &-thumbnail {
    margin-bottom: 16px;
    
    img {
      width: 100%;
      height: $sm-image-size;
      object-fit: cover;

    }
  }

  &-item-info {
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid $border;

    .sub-title {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .title {
      font-size: 18px;
      margin-bottom: 24px;
    }

    .price {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &-brand-info {
    font-size: 14px;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid $border;

    .info-container {
      @include flexbox(start);
      margin-bottom: 8px;

      dt {
        display: inline-block;
        width: 70px;
        font-weight: 600;
      }
    }
  }

  .product-page-form {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 15px 25px;
    width: 280px;
    background-color: $white;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    z-index: 1000;
    visibility: hidden;
    transition: visibility 100ms ease-in-out;

    &.is-active {
      visibility: visible;
    }

    .form-product-info {
        display: inline-block;
        margin-bottom: 12px;
    }
    
    .form-count {
        @include flexbox(between);
        padding-bottom: 16px;
        margin-bottom: 8px;
        border-bottom: 1px solid $black;

        .count-container {
          @include flexbox(between);
          width: 100px;
          height: 24px;;

          .count {
            font-size: 20px;
          }

          .count-button{
            width: 26px;
            height: 26px;;

            cursor: pointer;
            transition: opacity 100ms ease-in-out, transform 100ms ease-in-out;
            
            &:hover {
              opacity: 0.5;
              transform: scale(1.02);
            }

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        .price {
          height: 100%;
          font-size: 20px;
          font-weight: 600;
        }
    }

    .form-result {
        @include flexbox(end);
        margin-bottom: 16px;

        span {
          @include flexbox(cneter, end);
          height: 18px;
          font-size: 14px;
          font-weight: 600;
          margin-right: 8px;
        }

        strong {
          color: $border-hover;
          font-size: 18px;
        }
    }

    .form-button {
        @include flexbox;
        height: 48px;
        background-color: $border-hover;
        border-radius: 4px;
        transition: opacity 100ms ease-in-out;

        &:hover,
        &:active {
          opacity: 0.8;
        }

        button {
          color: $white;
          width: 100%;
          height: 100%;
          font-weight: 700;
          font-size: 20px;
        }
    }
  }


  @include responsive(T) {
    &-thumbnail,
    img {
      height: $md-image-size;
    }
  }

  @include responsive(D) {
    @include flexbox;
    padding-top: $lg-padding-top;

    &-thumbnail {
      height: 480px;
      flex-basis: 55%;
      text-align: center;

      img {
        width: 480px;
        height: 100%;
        overflow: hidden;
      }
    }

    &-buy-part {
      padding-top: 48px;
      flex-basis: 35%;

      .product-page-form {
        position: static;
        transform: none;
        width: 100%;
        padding: 24px 0px 0px 50px;
      }
    }
  }
}

// 상세 페이지 구현할 계획이면 따로 빼야 함.
.product-detail {
  h2{
    padding: 16px 0;
  }

  img {
    width: 100%;
    height: 340px;
    object-fit: cover;
    margin-bottom: 16px;
  }

  @include responsive(T) {
    img {
      height: 680px;
    }
  }
}




.sm-md-buy {
  @include flexbox(center, center);
  position: fixed;
  top: 90%;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-color: $white;
  border-top: 1px solid $border;
  
  .buy-button {
    width: 90%;
    height: 80%;
    background-color: $border-hover;
    font-size: 20px;
    font-weight: 700;
    color: $white;
    border-radius: 6px;
    transition: opacity 300ms ease-in-out;
    
    &:hover,
    &:active {
      opacity: 0.8;
    }
  }
  
  @include responsive(T) {
    button {
      width: 80%;
    }
  }
}

// 모바일/태블릿 투명 검은 배경.
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $overlay;
  opacity: 0.5;
  z-index: 100;
  visibility: hidden;
  transition: visibility 100ms ease-in-out;

  &.is-active {
    visibility: visible;
  }
}